body{
    background-color: palegreen;
    margin-left: 400px;
}
form{
    background-color: orange;
    border: 2px solid black;
    width: 300px;
    padding: 10px;
}
input[type="submit"]{
    background-color: aqua;

}
